{% extends 'base_outras.html' %}
{% block title %} Lista de Alunos {% endblock %}

{% block main %}
<h1 align="center">Alunos Cadastrados</h1>
<div class="container">
	<form>
		<div class="col-sm-4">
			<input type="text" name="busca-nome" class="form-control" placeholder="Nome do Aluno"/>
		</div>
		<input type="submit" class="btn-lg glyphicon glyphicon-search"/>
	</form>
	<table class="table table-striped table-hover">
		<thead>
			<tr>
			<th scope="col" id="labels">Código</th>
			<th scope="col" id="labels">Nome</th>
			<th scope="col" id="labels">CPF</th>
			<th scope="col" id="labels">Telefone</th>
			<th scope="col" id="labels">E-mail</th>
			<th scope="col" id="labels">Data Nascimento</th>
			</tr>
		</thead>
		{% for aluno in alunos%}
		<tr>
			<td>{{ aluno.id }}</td>
			<td><a href="{% url 'editarAluno' aluno.id %}">{{ aluno.nome }}</a></td>
			<td>{{ aluno.cpf }}</td>
			<td>{{ aluno.telefone }}</td>
			<td>{{ aluno.email }}</td>
			<td>{{ aluno.dtNascimento|date:"d-m-Y" }}</td>
			<td>
				<a href="{% url 'avaliarAluno'%}" type="submit" class="glyphicon glyphicon-paste"></a>
				<a href="{% url 'excluirAluno' aluno.id %}" type="submit" class="glyphicon glyphicon-trash"></a>
			</td>
		</tr>
		{% endfor %}
	</table>
	{% if alunoDeletar != Null %}
		<p>Deseja Deletar {{ alunoDeletar.nome }} ?</p>
		<form method="POST">
			{% csrf_token %}
			<button type="submit" class="btn btn-danger">Excluir</button>
		</form>
	{% endif %}
</div>

{% endblock %}